.unslider {
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height:100%;
	font-size: 0;
	z-index: 20;
}
.unslider-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.unslider-wrap.unslider-carousel>li {
	float: left
}
.unslider-vertical>ul {
	height: 100%
}
.unslider-vertical li {
	float: none;
	width: 100%
}
.unslider-fade {
	position: relative
}
.unslider-fade .unslider-wrap li {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 8
}
.unslider-fade .unslider-wrap li.unslider-active {
	z-index: 10
}
.unslider li, .unslider ol, .unslider ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
	color: #fff;
	width: 100%;
}
.unslider li {
	text-align: center;
	position: relative;
}
.unslider li img {
	width: 100%;
	min-height: 100%;
	/*object-fit: contain;*/
}
.unslider-arrow {
	position: absolute;
	left: 2%;
	top: 33%;
	z-index: 50;
	cursor: pointer;
	background: url(../images/img_19_1.png) no-repeat 0% 50%;
	background-size: auto 50%;
	font-size: 0;
	width: 30px;
	height: 30%;
}
.unslider-arrow.next {
	left: auto;
	right: 2%;
	background: url(../images/img_19.png) no-repeat 100% 50%;
	background-size: auto 50%;
}
.unslider nav {
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 0%;
	width: 100%;
	z-index:40;
}
.unslider ol {
	font-size: 0;
	width: 100%;
	height: 10px;
	text-align:center;
}
.unslider ol li {
	width: 50px;
	height: 5px;
	display: inline-block;
	margin: 0 5px;
	background-color: rgba(255,255,255,0.4);
	border-radius:8px;
}
.unslider ol li.unslider-active {
	background-color: #fff;
}
.menu-content{display:none;}
